DamageReportImplService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.6 in JDK 6. -->
<definitions targetNamespace="http://ws.main/" name="DamageReportImplService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://ws.main/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://ws.main/" schemaLocation="DamageReportImplService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="informacje_o_zgloszeniu">
    <part name="parameters" element="tns:informacje_o_zgloszeniu"/>
  </message>
  <message name="informacje_o_zgloszeniuResponse">
    <part name="parameters" element="tns:informacje_o_zgloszeniuResponse"/>
  </message>
  <message name="informacje_o_szkodzie">
    <part name="parameters" element="tns:informacje_o_szkodzie"/>
  </message>
  <message name="informacje_o_szkodzieResponse">
    <part name="parameters" element="tns:informacje_o_szkodzieResponse"/>
  </message>
  <message name="dane_osoby_zglaszajacej_szkode">
    <part name="parameters" element="tns:dane_osoby_zglaszajacej_szkode"/>
  </message>
  <message name="dane_osoby_zglaszajacej_szkodeResponse">
    <part name="parameters" element="tns:dane_osoby_zglaszajacej_szkodeResponse"/>
  </message>
  <message name="dane_wlasciciela_pojazdu_poszkodowanego">
    <part name="parameters" element="tns:dane_wlasciciela_pojazdu_poszkodowanego"/>
  </message>
  <message name="dane_wlasciciela_pojazdu_poszkodowanegoResponse">
    <part name="parameters" element="tns:dane_wlasciciela_pojazdu_poszkodowanegoResponse"/>
  </message>
  <message name="dane_pojazdu_poszkodowanego">
    <part name="parameters" element="tns:dane_pojazdu_poszkodowanego"/>
  </message>
  <message name="dane_pojazdu_poszkodowanegoResponse">
    <part name="parameters" element="tns:dane_pojazdu_poszkodowanegoResponse"/>
  </message>
  <message name="potwierdzenie">
    <part name="parameters" element="tns:potwierdzenie"/>
  </message>
  <message name="potwierdzenieResponse">
    <part name="parameters" element="tns:potwierdzenieResponse"/>
  </message>
  <portType name="DamageReport">
    <operation name="informacje_o_zgloszeniu">
      <input message="tns:informacje_o_zgloszeniu"/>
      <output message="tns:informacje_o_zgloszeniuResponse"/>
    </operation>
    <operation name="informacje_o_szkodzie">
      <input message="tns:informacje_o_szkodzie"/>
      <output message="tns:informacje_o_szkodzieResponse"/>
    </operation>
    <operation name="dane_osoby_zglaszajacej_szkode">
      <input message="tns:dane_osoby_zglaszajacej_szkode"/>
      <output message="tns:dane_osoby_zglaszajacej_szkodeResponse"/>
    </operation>
    <operation name="dane_wlasciciela_pojazdu_poszkodowanego">
      <input message="tns:dane_wlasciciela_pojazdu_poszkodowanego"/>
      <output message="tns:dane_wlasciciela_pojazdu_poszkodowanegoResponse"/>
    </operation>
    <operation name="dane_pojazdu_poszkodowanego">
      <input message="tns:dane_pojazdu_poszkodowanego"/>
      <output message="tns:dane_pojazdu_poszkodowanegoResponse"/>
    </operation>
    <operation name="potwierdzenie">
      <input message="tns:potwierdzenie"/>
      <output message="tns:potwierdzenieResponse"/>
    </operation>
  </portType>
  <binding name="DamageReportImplPortBinding" type="tns:DamageReport">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="informacje_o_zgloszeniu">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="informacje_o_szkodzie">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="dane_osoby_zglaszajacej_szkode">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="dane_wlasciciela_pojazdu_poszkodowanego">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="dane_pojazdu_poszkodowanego">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="potwierdzenie">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="DamageReportImplService">
    <port name="DamageReportImplPort" binding="tns:DamageReportImplPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

