DamageReportImplService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.6 in JDK 6. -->
<definitions targetNamespace="http://ws.damageReport.com/" name="DamageReportImplService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://ws.damageReport.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
	<xsd:schema version="1.0" targetNamespace="http://ws.damageReport.com/" xmlns:tns="http://ws.damageReport.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

	  <xsd:element name="confirmation" type="tns:confirmation"/>

	  <xsd:element name="confirmationResponse" type="tns:confirmationResponse"/>

	  <xsd:element name="damageInformation" type="tns:damageInformation"/>

	  <xsd:element name="damageInformationResponse" type="tns:damageInformationResponse"/>

	  <xsd:element name="damagedVehicleData" type="tns:damagedVehicleData"/>

	  <xsd:element name="damagedVehicleDataResponse" type="tns:damagedVehicleDataResponse"/>

	  <xsd:element name="ownerDamagedVehicleData" type="tns:ownerDamagedVehicleData"/>

	  <xsd:element name="ownerDamagedVehicleDataResponse" type="tns:ownerDamagedVehicleDataResponse"/>

	  <xsd:element name="personReportingDamageData" type="tns:personReportingDamageData"/>

	  <xsd:element name="personReportingDamageDataResponse" type="tns:personReportingDamageDataResponse"/>

	  <xsd:element name="reportInformation" type="tns:reportInformation"/>

	  <xsd:element name="reportInformationResponse" type="tns:reportInformationResponse"/>

	  <xsd:complexType name="personReportingDamageData">
		<xsd:sequence>
		  <xsd:element name="firstName" type="xsd:string" minOccurs="0"/>
		  <xsd:element name="lastName" type="xsd:string" minOccurs="0"/>
		  <xsd:element name="phoneNumber" type="xsd:string" minOccurs="0"/>
		  <xsd:element name="email" type="xsd:string" minOccurs="0"/>
		  <xsd:element name="province" type="xsd:string" minOccurs="0"/>
		  <xsd:element name="zipCode" type="xsd:string" minOccurs="0"/>
		  <xsd:element name="city" type="xsd:string" minOccurs="0"/>
		  <xsd:element name="street" type="xsd:string" minOccurs="0"/>
		  <xsd:element name="boulding" type="xsd:string" minOccurs="0"/>
		  <xsd:element name="house" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	  </xsd:complexType>

	  <xsd:complexType name="personReportingDamageDataResponse">
		<xsd:sequence/>
	  </xsd:complexType>

	  <xsd:complexType name="confirmation">
		<xsd:sequence/>
	  </xsd:complexType>

	  <xsd:complexType name="confirmationResponse">
		<xsd:sequence/>
	  </xsd:complexType>

	  <xsd:complexType name="ownerDamagedVehicleData">
		<xsd:sequence>
		  <xsd:element name="numberOfOwners" type="xsd:int"/>
		  <xsd:element name="pesel" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	  </xsd:complexType>

	  <xsd:complexType name="ownerDamagedVehicleDataResponse">
		<xsd:sequence/>
	  </xsd:complexType>

	  <xsd:complexType name="damagedVehicleData">
		<xsd:sequence>
		  <xsd:element name="registrationNumber" type="xsd:string" minOccurs="0"/>
		  <xsd:element name="carBrand" type="xsd:string" minOccurs="0"/>
		  <xsd:element name="carModel" type="xsd:string" minOccurs="0"/>
		  <xsd:element name="carYearOfProduction" type="xsd:string" minOccurs="0"/>
		  <xsd:element name="carVINNumber" type="xsd:string" minOccurs="0"/>
		  <xsd:element name="firstRegistrationDate" type="xsd:string" minOccurs="0"/>
		  <xsd:element name="technicalExaminationDateFrom" type="xsd:string" minOccurs="0"/>
		  <xsd:element name="technicalExaminationDateTo" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	  </xsd:complexType>

	  <xsd:complexType name="damagedVehicleDataResponse">
		<xsd:sequence/>
	  </xsd:complexType>

	  <xsd:complexType name="damageInformation">
		<xsd:sequence>
		  <xsd:element name="damageDate" type="xsd:string" minOccurs="0"/>
		  <xsd:element name="damageLocalization" type="xsd:string" minOccurs="0"/>
		  <xsd:element name="damageCause" type="xsd:string" minOccurs="0"/>
		  <xsd:element name="damageDescription" type="xsd:string" minOccurs="0"/>
		  <xsd:element name="wasReportedInThirdParty" type="xsd:boolean"/>
		</xsd:sequence>
	  </xsd:complexType>

	  <xsd:complexType name="damageInformationResponse">
		<xsd:sequence/>
	  </xsd:complexType>

	  <xsd:complexType name="reportInformation">
		<xsd:sequence>
		  <xsd:element name="damagedPropertType" type="xsd:string" minOccurs="0"/>
		  <xsd:element name="damageType" type="xsd:string" minOccurs="0"/>
		  <xsd:element name="policyNumber" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	  </xsd:complexType>

	  <xsd:complexType name="reportInformationResponse">
		<xsd:sequence>
		  <xsd:element name="return" type="xsd:int"/>
		</xsd:sequence>
	  </xsd:complexType>
	</xsd:schema>
  </types>
  
  <message name="reportInformation">
    <part name="parameters" element="tns:reportInformation"/>
  </message>
  <message name="reportInformationResponse">
    <part name="parameters" element="tns:reportInformationResponse"/>
  </message>
  <message name="damageInformation">
    <part name="parameters" element="tns:damageInformation"/>
  </message>
  <message name="damageInformationResponse">
    <part name="parameters" element="tns:damageInformationResponse"/>
  </message>
  <message name="personReportingDamageData">
    <part name="parameters" element="tns:personReportingDamageData"/>
  </message>
  <message name="personReportingDamageDataResponse">
    <part name="parameters" element="tns:personReportingDamageDataResponse"/>
  </message>
  <message name="ownerDamagedVehicleData">
    <part name="parameters" element="tns:ownerDamagedVehicleData"/>
  </message>
  <message name="ownerDamagedVehicleDataResponse">
    <part name="parameters" element="tns:ownerDamagedVehicleDataResponse"/>
  </message>
  <message name="damagedVehicleData">
    <part name="parameters" element="tns:damagedVehicleData"/>
  </message>
  <message name="damagedVehicleDataResponse">
    <part name="parameters" element="tns:damagedVehicleDataResponse"/>
  </message>
  <message name="confirmation">
    <part name="parameters" element="tns:confirmation"/>
  </message>
  <message name="confirmationResponse">
    <part name="parameters" element="tns:confirmationResponse"/>
  </message>
  <portType name="DamageReport">
    <operation name="reportInformation">
      <input message="tns:reportInformation"/>
      <output message="tns:reportInformationResponse"/>
    </operation>
    <operation name="damageInformation">
      <input message="tns:damageInformation"/>
      <output message="tns:damageInformationResponse"/>
    </operation>
    <operation name="personReportingDamageData">
      <input message="tns:personReportingDamageData"/>
      <output message="tns:personReportingDamageDataResponse"/>
    </operation>
    <operation name="ownerDamagedVehicleData">
      <input message="tns:ownerDamagedVehicleData"/>
      <output message="tns:ownerDamagedVehicleDataResponse"/>
    </operation>
    <operation name="damagedVehicleData">
      <input message="tns:damagedVehicleData"/>
      <output message="tns:damagedVehicleDataResponse"/>
    </operation>
    <operation name="confirmation">
      <input message="tns:confirmation"/>
      <output message="tns:confirmationResponse"/>
    </operation>
  </portType>
  <binding name="DamageReportImplPortBinding" type="tns:DamageReport">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="reportInformation">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="damageInformation">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="personReportingDamageData">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ownerDamagedVehicleData">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="damagedVehicleData">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="confirmation">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="DamageReportImplService">
    <port name="DamageReportImplPort" binding="tns:DamageReportImplPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

